<?xml version="1.0"?>
<robot name="cup">
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="tea_cup.obj" scale="0.02 0.02 0.02"/>
            </geometry>
            <origin rpy="1.57 0 0" xyz="0 0 0" />
            <material name="white"/>
        </visual>

        <collision>
            <geometry>
                <mesh filename="tea_cup.obj" scale="0.02 0.02 0.02"/>
            </geometry>
            <origin rpy="1.57 0 0" xyz="0 0 0" />
        </collision>
        <inertial>
            <mass value="0.00000000001"/>
            <inertia ixx="0.000000000001" ixy="0.0" ixz="0.0" iyy="0.0000000000001" iyz="0.0" izz="0.000000000001"/>
        </inertial>
    </link>
</robot>
